@import "../styles/colors";
.header {
  background-color: $elegant-dark-blue;

  &__logo {
    color: $white-smooth;
    text-decoration: none;
    position: relative;
    z-index: 3;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  &__styledNav {
    display: none; // domyślnie ukryte na mobilnym widoku
    gap: 15px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 70px 20px 20px;
    background-color: $elegant-dark-blue;
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 10px;
      position: static;
      padding: 0;
    }
  }

  &__styledNavActive {
    display: block; // pokaż, gdy aktywne na mobilnym widoku
    @media screen and (min-width: 768px) {
      display: flex; // zawsze pokaż na desktopie
    }
  }

  &__navLink {
    display: block;
    color: #aaa;
    text-decoration: none;
    padding: 10px 0;
    @media screen and (min-width: 768px) {
      display: inline-block;
      margin: 0 10px;
      padding: 0;
    }
    @media screen and (min-width: 992px) {
      display: inline-block;
      margin: 0 15px;
      padding: 0;
    }
  }

  &__navButton {
    background-color: transparent;
    width: 30px;
    height: 30px;
    color: $white-smooth;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 3;
    @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
}

.header__styledNavActive {
  display: block; // pokaż, gdy aktywne
  @media screen and (min-width: 768px) {
    display: flex; // zawsze pokaż na desktopie
  }
}

.svg {
  width: 2rem;
  height: 2rem;
}
