@import "./colors";

.columnsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1.2fr 0.8fr;
  }
}

.box {
  background-color: $white-smooth;
  border-radius: 0.2rem;
  padding: 1rem;
  margin-bottom: 0.7rem;
}

.productInfoCell {
  padding: 0.1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.productImageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  padding: 2px;

  border-radius: 0.4rem;

  img {
    max-width: 100px;
    max-height: 100px;
  }

  @media screen and (min-width: 768px) {
    padding: 10px;

    img {
      max-width: 120px;
      max-height: 120px;
    }
  }
}

.btn {
  display: block;
  align-items: center;
  text-align: center;
  background-color: $elegant-dark-blue;
  border: 0;
  color: $white-smooth;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  width: 100%;
}

.button {
  margin: 0.4rem;
  background-color: $elegant-dark-blue;
  border: 0;
  color: $white-smooth;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
}

.cityHolder {
  display: flex;
  gap: 5px;
}

.quantityLabel {
  padding: 0 18px;
  display: block;
  @media screen and (min-width: 768px) {
    display: inline-block;
    padding: 0 10px;
  }
}
